body {
  height: 100%;
  background-color: #e6e4db; }

.outercontainer {
  font-family: sans-serif;
  font-weight: 300;
  padding: 20px;
  height: 100%;
  min-width: 960px; }

.user-container {
  background-color: #fff;
  position: relative;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); }

.header {
  display: block; }
  .header .timer {
    float: left;
    width: 180px;
    padding: 10px 20px;
    background-color: #FF9500;
    color: #fff;
    font-size: 20px;
    text-align: center; }
  .header .teaminfo {
    padding: 10px 20px;
    margin-left: 210px;
    font-size: 20px;
    background-color: #F3F7F2; }
    .header .teaminfo em {
      font-weight: 600; }
    .header .teaminfo .score {
      font-size: 14px;
      line-height: 20px;
      vertical-align: center;
      float: right; }
  .header .login-buttons-dropdown-align-right {
    display: inline-block; }
  .header .accounts-dialog, .header .login-button, .header .login-link-text {
    display: inline; }
  .header .login-button:hover, .header .login-link-text:hover, .header .login-close-text:hover {
    cursor: pointer;
    opacity: 0.8; }
  .header .login-close-text {
    font-size: 10px;
    line-height: 20px;
    vertical-align: center;
    opacity: 0.6;
    font-weight: 600; }
    .header .login-close-text:before {
      content: "["; }
    .header .login-close-text:after {
      content: "]"; }
  .header .login-close-text-clear {
    display: none; }

.leftbar {
  clear: both;
  width: 180px;
  float: left;
  display: block;
  padding: 20px; }
  .leftbar .top-logo {
    text-align: center;
    margin: 30px 0; }
  .leftbar h1 {
    opacity: 0.3;
    font-size: 14px;
    margin-bottom: 5px; }
  .leftbar h2 {
    font-size: 18px;
    font-weight: 600;
    color: #006470;
    margin-bottom: 20px; }
  .leftbar h2.hover {
    cursor: pointer; }
    .leftbar h2.hover:hover {
      color: #0092a3; }
  .leftbar ul li {
    margin-bottom: 10px;
    padding: 5px 10px 5px;
    border-left: 3px solid #FFA95E;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    /* Safari */ }
    .leftbar ul li:hover {
      background-color: #f0f0f0;
      cursor: pointer; }
    .leftbar ul li.completed {
      border-left-color: #006470; }
      .leftbar ul li.completed .title:before {
        color: red;
        margin-right: 8px;
        content: url("http://www.tqualizer.com/skin1/images/check.png"); }
    .leftbar ul li.locked {
      border-left-color: #ccc; }
      .leftbar ul li.locked .title {
        color: #aaa; }
      .leftbar ul li.locked .title:before {
        content: url("http://www.k-state.edu/its/images/lock_black.png");
        margin-right: 7px;
        opacity: 0.3; }
      .leftbar ul li.locked:hover {
        background-color: inherit; }
  .leftbar ul.hidden {
    display: none; }
  .leftbar .title {
    margin-bottom: 3px;
    font-weight: 400; }
  .leftbar .desc {
    font-size: 13px;
    opacity: 0.5; }

.content {
  padding: 20px;
  margin-left: 220px;
  height: 100%; }
  .content .downloadable {
    text-decoration: none;
    color: #385BC7;
    padding: 10px 10px 10px 34px;
    border: 1px solid #ccc;
    width: 300px;
    margin-top: 5px;
    display: block;
    background-image: url("/images/file.png");
    background-position-y: center;
    background-position-x: 8px;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;
    /* Safari */ }
    .content .downloadable:hover {
      border-color: #444;
      cursor: pointer; }
  .content p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px; }
  .content em {
    font-weight: 800; }
  .content .code {
    font-family: 'Courier New', Courier, serif;
    color: #943E00;
    font-weight: 600; }
  .content .input, .content .output {
    width: 300px;
    float: left; }
  .content textarea {
    font-family: "Lucida Console", Monaco, monospace;
    outline: none;
    padding: 10px;
    font-size: 13px;
    width: 600px;
    height: 200px;
    margin-bottom: 10px; }
  .content .js2output {
    background-color: #FCF7E1;
    padding: 10px;
    width: 600px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #222; }
  .content .js3area {
    overflow: auto; }
  .content .js3textarea {
    width: 300px;
    float: left;
    padding: 10px; }
  .content .js3controls {
    width: 300px;
    float: left;
    margin-left: 20px;
    background-color: #FCF7E1;
    overflow: auto;
    padding: 10px; }
  .content .b0, .content .b1 {
    float: left;
    margin-left: 10px; }
  .content .js3rule {
    display: block;
    clear: left;
    margin-bottom: 3px; }
  .content .js3output {
    display: block;
    clear: left; }
  .content .js3submit {
    display: block; }
  .content .testfailed {
    color: #ee0000; }
  .content button {
    margin-bottom: 10px;
    display: block; }
  .content .coding {
    overflow: auto; }
  .content ul {
    position: relative;
    margin-bottom: 20px; }
    .content ul li:before {
      content: "-";
      position: relative;
      left: -8px; }
    .content ul li {
      margin: 0 0 5px 10px;
      line-height: 20px;
      text-indent: 0; }
  .content h1 {
    font-size: 36px;
    opacity: 0.3;
    margin-bottom: 10px; }
  .content h2 {
    color: #006470;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 8px; }

.admin-container {
  padding: 10px;
  font-family: sans-serif;
  font-weight: 200; }
  .admin-container .rightlogin {
    margin: 10px;
    float: right;
    text-align: right; }
  .admin-container h1 {
    font-size: 20px;
    margin-bottom: 10px; }
  .admin-container h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px; }
    .admin-container h2 em {
      font-weight: 500; }
  .admin-container table {
    background-color: #eee;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px; }
    .admin-container table td {
      text-align: center;
      padding: 20px 0;
      border: 1px solid #333;
      width: 25%; }
      .admin-container table td.teamname {
        background-color: #333;
        color: #fff;
        padding: 5px; }
      .admin-container table td.notdone {
        background-color: #fff; }
      .admin-container table td.done {
        background-color: #76C900; }

.homepage-container {
  font-family: sans-serif;
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 960px; }
  .homepage-container .hide {
    display: none; }
  .homepage-container .title {
    color: #4d3c32;
    font-family: 'Lilita One', cursive;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center; }
    .homepage-container .title img {
      vertical-align: text-top; }
  .homepage-container label {
    display: block;
    font-weight: 700;
    font-size: 15px; }
  .homepage-container .content-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 794px; }
  .homepage-container .register-box, .homepage-container .login-box {
    background-color: #f7f6f3;
    color: #494949;
    display: inline-block;
    padding: 40px 52px;
    vertical-align: top;
    width: 276px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    .homepage-container .register-box input, .homepage-container .login-box input {
      border: 1px solid #ccc;
      font-size: 14px;
      padding: 6px 12px;
      margin-bottom: 10px;
      width: 250px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-border-radius: 5px; }
    .homepage-container .register-box input:focus, .homepage-container .login-box input:focus {
      border: 2px solid #66afe9;
      outline-width: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
    .homepage-container .register-box h3, .homepage-container .login-box h3 {
      color: #000;
      font-weight: 700;
      margin-bottom: 15px; }
    .homepage-container .register-box p, .homepage-container .login-box p {
      font-size: 14px;
      line-height: 1.2em;
      margin-bottom: 10px; }
  .homepage-container .register-box {
    margin-right: 29px; }
  .homepage-container .login-box .login-link-text {
    display: none; }
  .homepage-container .login-box .login-close-text {
    display: none; }
  .homepage-container .login-box .login-buttons-dropdown-align-left {
    margin-left: auto;
    margin-right: auto;
    width: 276px; }
  .homepage-container .login-box #login-buttons-password {
    background-color: #217984;
    border: none;
    color: white;
    font-family: Arial, Helvetica;
    font-size: 14px;
    text-shadow: 0px -1px 0px #374683;
    padding: 9px 12px;
    margin: 10px 0 0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block; }
  .homepage-container .login-box #login-buttons-password:hover {
    background-color: #30909c;
    cursor: pointer; }
  .homepage-container .login-box #signup-link {
    display: none; }
  .homepage-container .login-box #forgot-password-link {
    display: none; }
  .homepage-container .login-box .signup-link:hover {
    cursor: pointer;
    color: #66afe9; }
  .homepage-container .login-box .greeting, .homepage-container .login-box .register-link {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 350px; }
  .homepage-container .login-box .register-link {
    color: blue; }

.scoreboard h1 {
  text-align: center;
  font-family: sans-serif;
  margin: 20px;
  font-size: 30px; }
.scoreboard table {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 800px;
  margin: 10px auto; }
  .scoreboard table .place {
    font-weight: 200;
    text-align: center; }
  .scoreboard table th {
    background-color: #333;
    color: #eee;
    padding: 6px;
    text-align: left; }
  .scoreboard table td {
    padding: 6px; }
  .scoreboard table tr:nth-child(even) {
    background-color: #ffffff; }
  .scoreboard table tr:nth-child(odd) {
    background-color: #eeffee; }
  .scoreboard table .topthree td {
    color: rgba(0, 0, 0, 0.3); }

button {
  background-color: #217984;
  border: none;
  color: white;
  font-family: Arial, Helvetica;
  font-size: 14px;
  text-shadow: 0px -1px 0px #374683;
  padding: 9px 12px;
  margin: 10px 0 0;
  -moz-border-radius: 5px;
  border-radius: 5px; }

button:hover {
  background-color: #30909c;
  cursor: pointer; }
