body {
	height: 100%;
	background-color: #BACACC;
}
.outercontainer {
	font-family: sans-serif;
	font-weight: 300;
	padding: 20px;
	height: 100%;
}

.user-container {
	background-color: #fff;
	position: relative;
	overflow: auto;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.1);
} 

.header {
	display: block;
	
	.timer {
		float: left;
		width: 180px;
		padding: 10px 20px;
		background-color: #FF9500;
		color: #fff;
		font-size: 20px;
		text-align: center;
	}
	.teaminfo {
		padding: 10px 20px;
		margin-left: 210px;
		font-size: 20px;
		background-color: #F3F7F2;
		
		em {
			font-weight: 600;
		}
		
		.score {
			font-size: 14px;
			line-height: 20px;
			vertical-align: center;
			float: right;
		}
	}
}

.leftbar {
	clear: both;
	width: 180px;
	float: left;
	display: block;
	padding: 20px;
	
	.top-logo {
		text-align: center;
		margin: 30px 0;
	}
	
	h1 {
		opacity: 0.3;
		font-size: 14px;
		margin-bottom: 5px;
	}
	h2 {
		font-size: 18px;
		font-weight: 600;
		color: #006470;
		margin-bottom: 20px;
	}
	ul {
		li {
			margin-bottom: 10px;
			padding: 5px 10px 5px;
			border-left: 3px solid #FFA95E;
			transition:background-color 0.2s;
			-webkit-transition:background-color 0.2s; /* Safari */		
			
			&:hover {
				background-color: #f0f0f0;
				cursor: pointer;
			}
			
			&.completed {
				border-left-color: #006470;
				
				.title {
					color: #555;
				}
				
			}
			
			&.locked {
				border-left-color: #ccc;
				
				.title {
					color: #aaa;
				}
				.title:before
				{
					content: url('http://www.k-state.edu/its/images/lock_black.png');
					margin-right: 7px;
					opacity: 0.3;
				}
				&:hover {
					background-color: inherit;
				}
			}
		}
	}
	.title {
		margin-bottom: 3px;
		font-weight: 400;
	}
	.desc {
		font-size: 13px;
		opacity: 0.5;
	}
	
}

.content {
	padding: 20px;
	margin-left: 220px;
	height: 100%;
	
	.downloadable {
		padding: 10px 10px 10px 34px;
		border: 1px solid #ccc;
		width: 300px;
		margin-top: 5px;
		display: block;
		background-image: url('/images/file.png');
		background-position-y: center;
		background-position-x: 8px;
		background-repeat: no-repeat;
		opacity: 0.8;
		transition:border-color 0.2s;
		-webkit-transition:border-color 0.2s; /* Safari */		
		&:hover {
			border-color: #444;
			cursor: pointer;
		}
	}
	
	p {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: normal;
	}
	
	h1 {
		font-size: 36px;
		opacity: 0.3;
		margin-bottom: 10px;
	}
	h2 {
		color: #006470;
		font-weight: 400;
		font-size: 18px;
		margin-bottom: 8px;
	}
}

.admin-container {
	padding: 10px;
	font-family: sans-serif;
	font-weight: 200;
	
	.rightlogin {
		margin: 10px;
		float: right;
		text-align: right;
	}
	
	h1 {
		font-size: 20px;
		margin-bottom: 10px;
	}	
	
	h2 {
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 20px;
		em {
			font-weight: 500;
		}
	}
	
	table {
		background-color: #eee;
		font-size: 14px;
		width: 100%;
		margin-bottom: 10px;
		
		td {
			text-align: center;
			padding: 20px 0;
			border: 1px solid #333;
			
			&.teamname {
				background-color: #333;
				color: #fff;
				padding: 5px;
			}
			&.notdone {
				background-color: #fff;
				width: 25%;
			}
			&.done {
				background-color: #76C900;
				width: 25%;
			}
		}
	}
}

/* I'm ruining your CSS, accounts-ui*/

#login-dropdown-list {
}